.ml{
    background-color: #0b2a56;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0;
    color: white;
}
.mlTitle{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 3px;
}

.mlSubtitle{
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 5px;
}

.mlInput{
    border: none;
    width: 290px;
    height: 34px;
    border-radius: 5px;
    padding-left: 1.5rem;
    font-size: 1rem;
    outline: none;
}

.mpbutton{
    margin-left: 2px;
    width: 100px;
    border: none;
    height: 36px;
    border-radius: 5px;
    background-color: #2465c0;
    font-weight: 500;
    cursor: pointer;
    color: white;
}
.mpbutton:hover{
    background-color: #1958b1;
    transition: background .3s;
}
.mlInputContainer>div{
    margin-top: 5px;
    font-size: 12px;
}
.mlCheckbox{
    font-size: 12px;
}

